.form{
  gap: 30px;
}
h1 {
  font-weight: bold;
  font-size: px;
}

  .cont {
 
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 10px;
   
  }
  @media (max-width: 700px) {

    .cont {
        display: flex;
        flex-direction: column;
       
      }
  }
