@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400&display=swap');
.flights{
    &__main{
        padding-top: 2%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 5%;
    }
    &__banner{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        &--figure{
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    &__container{
        font-family: 'Sarabun', sans-serif;
        display: flex;
        font-weight: 100;
    }
    &__filters{
        width: 30%;
        &--card{
            margin-bottom: 5%;
        }
        &--title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5%;
            p {
                font-family: 'Sarabun', sans-serif;
                color: #323842;
                font-weight: 700;
                font-size: 120%;
            }
            label{
                font-family: 'Sarabun', sans-serif;
                color: #171A1F;
                font-size: 80%;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        &--checkbox{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .chakra-checkbox__label{
                width: 90%;
            }
            div{
                display: flex;
                width: 100%;
                justify-content: space-between;
                span{
                    color: #8F949F;
                }
            }
        }
        &--accordionpanel{
            display: flex;
        }
        &--slider{
            display: flex;
            justify-content: space-between;
            font-family: 'Sarabun', sans-serif;
        }
    }
    &__content{
        width: 70%;
        padding: 2%;
        &--item{
            padding: 1%;
            img {
                width: 15%;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #F2F3F5;
        }
        &--time{
            width: 15%;
            &--duration{
                display: flex;
                align-items: center;
                img{
                    margin-right: 5%;
                }
            }
        }
        &--transito{
            width: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 50%;
            }
            div{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 10%;
                    margin-right: 5%;
                }
            }
        }
        &--price{
            display: flex;
            flex-direction: column;
            align-items: end;
            div{
                display: flex;
                align-items: center;
                p{
                    font-size: 130%;
                    color: #FE902B;
                    font-weight: 600;
                }
                span{
                    font-size: 70%;
                    color: #8F949F;
                }
            }
            &--button{
                margin-top: 10%;
                padding: 5%;
                width: 70%;
                color: #323842;
                border: 1px solid #323842;
                font-size: 90%;
                font-weight: 400;
                border-radius: 5px;
                text-align: center;
            }
        }
    }
}

.css-pa3zzn {
    border: 1px solid #6C6CFE !important;
}